h1
  = @title

form{method="post" action="/new"}
  label{for="name"}
    | name
  input{name="name" type="text" id="name"}
  input{type="submit"}

- if @tasks
  - @tasks.each do |task|
    .task
      span.name
        = task.name
      span
        = task.created_at.getlocal.strftime('%d/%m/%Y %H:%M %z')
      form{method="post" class="delete" action="/#{task.id}/delete"}
        input{type="hidden" name="_method" value="delete"}
        input{type="submit" value="x"}
