!doctype html
html
  head
    meta{http-equiv="Content-Type" content="text/html; charset=utf-8"}
    title
      = "#{APP_NAME} :: #{@title}"
    link{rel="stylesheet" media="screen, projection" type="text/css" href="/css/screen.css"}
    script{type="text/javascript" src="/js/head.js"}
  body
    #content
      == yield
    javascript:    
      head.js('/js/jquery.js','/js/behavior.js');
