/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$black: #222;
$light_blue: #def;
$white: #ddd;
$full_black: #000;
$full_white: #fff;

$family: "Droid Sans", "Helvetica Neue", Helvetica, sans-serif, Arial;

body {
  background-color: $black;
  color: $white;
  font-family: $family;
  margin: 8pt;
  font-size: 11pt;
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 16pt;
}

.task {
  form {
    display:inline;
  }
  span {
    margin-right: 8px;
  }
}
